@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --main-color:#1F4529;
    --background-color:#EED3B1;
    --accent-color:#47663B;
    --main-font: 'Pacifico', cursive;
}

*{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
html{
    scroll-behavior: smooth;
}


body{
    margin: 0;
    background-color: var(--background-color);
}


#mobile_menu{
 
    display: none;
}
/**Логотип**/


.logo img{
width: 70px;
border-radius: 50%;
}



/*Шапка*/


header{
    width: 100vw;
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--main-color);
    position: fixed;
    top: 0;
    z-index: 1;
    left: 0;
    right: 0;
}

nav{
    font-family: var(--main-font);
    width: 20vw;
    display: flex;
    justify-content: space-evenly;
}

nav a {
    text-decoration: none;
    color: white;
}

.payment_btn{
    width: 120px;
    height: 40px;
    border-radius: 15px;
color: white;
background-color: orange;

border: none;
outline: none;
    
}



.greeting_page{
    width: 100vw;
    height: 100vh;
    background-image: url(../img/daily.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 36px;
    color: white;
    font-family: var(--main-font);
    font-weight: bold;
    background-attachment: fixed;
}


.greeting_title{
    animation: slowUp 2s 1;
}


@keyframes slowUp{
0%{
    opacity: 0;
    transform: translateY(100px);
}
100%{
    opacity: 1;
    transform: translateY(0);
}

}



.drinks{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}


.drink{
    width: 300px;
    height: 500px;
    border-radius: 10px;
    background-color: white;
}


.drink,.dessert,.sandwich-item{
    width: 300px;
    height: auto;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px;
    text-align: center;
    padding: 20px;
    font-family: "Raleway", sans-serif;
 
}
.drink-description{
    font-family: "Raleway", sans-serif;
}

.drink-image {
    width: 100%;
    border-radius: 10px;
}

.drink-title {
    font-size: 24px;
    color: var(--main-color);
    margin: 10px 0;
}

.drink-description {
    font-size: 16px;
    color: #333;
}

.drink-price {
    font-size: 18px;
    color: #e67e22;
    margin: 10px 0;
}

.order-btn {
    width: 100%;
    height: 40px;
    border-radius: 15px;
    color: white;
    background-color: var(--main-color);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    transition: all .3s ease;
}

.order-btn:hover{
    background-color: orange;
}


.desserts{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.sandwich{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}




footer {
    background-color: #333; /* Темно-серый фон */
    color: white;
    padding: 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}

.contact-info {
    width: 50%;
}

.footer-logo {
    width: 100px; /* Размер логотипа */
    margin: 10px 0;
}

.social-media a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

.feedback-form {
    width: 40%;
}

.feedback-form form {
    display: flex;
    flex-direction: column;
}

.feedback-form input,
.feedback-form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.feedback-form button {
    padding: 10px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.feedback-form button:hover {
    background-color: #e67e22; /* Цвет при наведении */
}


.modal_mobile{
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.96);
    backdrop-filter: blur(5px);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
 
}

.modal_mobile a{
    text-decoration: none;
    color: white;
}

.modal_mobile ul{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-family: "Raleway", sans-serif;
}


.modal_notif{
    display: none;
    flex-direction: column;
align-items: center;
justify-content: space-evenly;
    position: fixed;
    width: 200px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.5);
      
        left: calc(50% - 100px);
        top:calc(50% - 100px);
   
        border-radius: 15px;
        backdrop-filter: blur(10px);
        color: white;
        box-shadow: 0px 0px 5px white;
        font-size: 14px;
        font-family: Arial;
        animation: slowUp 5s ease-in-out forwards;
        z-index: 1000;
}

.modal_notif p{
    text-align: center;
}

.modal_notif img{
    width: 40px;

}
.modal_payment{
    position: fixed;
    width: 450px;
    height: 800px;
    left: calc(50% - 250px);
    top: calc(50% - 350px);
   
    background-color: white;
    z-index: 1000;
    border-radius: 15px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    background: brown;

}

.modal_payment img{
    width: 500px;
    height: 600px;
    
}

.item_img{
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle,rgb(27, 7, 7),orange,brown);
}

.item_img img{
    width: 250px;
    height: 250px;
}

.item_title{
    width: 100%;
    height: 20%;
    font-family: Arial;
    font-weight: bold;
    font-size: 25px;
    display: flex;
    justify-content: space-around;
    border-radius: 15px 15px 0px 0px;
    background: white;
   
}  

.item_size{
    width: 100%;

display: flex;
 justify-content: center;
 gap: 10px;
 font-family: Arial;
 font-size: 14px;
}

.item_desc{
    height: 20%;
    text-align: center;
    width: 80%;
    font-family: Arial;
    font-size: 12px;
}

.modal_main{
    background-color: white;
    border-radius: 35px 35px 0px 0px;
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.controls_order{
    width: 150px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    font-weight: bold;
    color: white;
    outline: none;
    border: none;
    box-shadow: black;
    border-radius: 10px;
   

}


.item_controls{
    display: flex;
   justify-content: space-around;
    align-items: center;
    width: 100%;
    border-radius: 15px 15px 0px 0px ;
   
}

.controls_counter button{
    border: none;
    background: none;
    outline: none;
    font-weight: bold;
}

.controls_counter{
    display: flex;
    width: 30%;
    justify-content: space-around;
    height: 60px;
    border-radius: 10px;
    background-color: #EED3B1;
    align-items: center;
}

@media screen and (max-width: 600px) {
    
footer{
    font-family: Arial;
    font-size: 13px;
}

    html{
        overflow-x: hidden;
    }
    body{
        overflow-x: hidden;
    }


    .modal_payment{
        width: 97vw;
        height: 90vh;
        left: calc(50% - 48.5vw);
        top: calc(50% - 45vh);
    }
    

    .drinks,.sandwich,.desserts{
        flex-direction: column;
        height: 100%;
    }

    .greeting_title{
        width: 300px;
        font-size: 30px;
    }
   
header{
    justify-content:space-around;
}

    nav{
        display: none;
    }

    #mobile_menu{
       
        display: flex;

    }
    .greeting_page{
        background-color: black;
    background-image: radial-gradient(ellipse 60% 40% at bottom ,rgba(0, 158, 0, 0.836) ,black);
    background-position: center center;
    background-size: 100vw;
    background-repeat: no-repeat;
    }
}


@keyframes slowUp{
    0%{transform: translateY(20px) ;opacity: 0;}
    30%{transform: translateY(0px) ;opacity: 1;}
    100%{transform: translateY(0px) ;opacity: 0;}
}
